Django>=1.10.5
Markdown==2.3.1
PyMySQL
PyYAML==3.10
amqp==1.4.9
anyjson==0.3.3
argparse==1.2.1
beautifulsoup4
django-braces
django-crispy-forms
django-tastypie
docutils
django-localflavor
billiard==3.3.0.23
mimeparse
python-dateutil
python-mimeparse
pytz
pydevd
